@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> ASP.NET MVC Test Application</h1>
    <p><a href="https://clck.ru/aurvT">Ckick</a>.</p>
    <!--
    <img src="~/img/pepe241.png" class="img-fluid" alt="image not founded">
    -->
</div>
